@font-face {
  font-family: "Cormorant";
  src: url(../fonts/Cormorant/Cormorant-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant";
  src: url(../fonts/Cormorant/Cormorant-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Cormorant";
  src: url(../fonts/Cormorant/Cormorant-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "CormorantUpright";
  src: url(../fonts/Cormorant_Upright/CormorantUpright-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "CormorantUpright";
  src: url(../fonts/Cormorant_Upright/CormorantUpright-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller/MullerBold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller/MullerLight.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller/MullerExtraBold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller/MullerThin.woff2);
  font-weight: 100;
}

@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller/MullerUltraLight.woff2);
  font-weight: 250;
}

@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller/MullerRegular.woff2);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1678px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Muller;
  overflow: hidden;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 21px 76px;
  border: 2px solid #FFFFFF;
  position: relative;
  z-index: 10;
  display: inline-block;
}

.btn::before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: -10;
}

.btn:hover {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.header {
  background: -o-linear-gradient(337.79deg, rgba(31, 31, 31, 0.91) 2.72%, rgba(18, 18, 18, 0.91) 101.59%);
  background: linear-gradient(112.21deg, rgba(31, 31, 31, 0.91) 2.72%, rgba(18, 18, 18, 0.91) 101.59%);
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  padding: 30px 0;
}

.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list:nth-of-type(1) {
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}

.header__list:nth-of-type(2) .header__item {
  margin-left: 52px;
}

.header__link-2,
.header__link {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__item-lang {
  padding: 0 14px;
  text-transform: uppercase;
}

.header__item-lang:nth-of-type(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.header__item-lang:nth-of-type(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.header__item-lang.active {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.header__item-lang.active .header__link-2 {
  color: #fff;
}

.header__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.header__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  font-size: 71px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 7px;
  max-width: 775px;
  width: 100%;
}

.header__title-extra {
  font-weight: 300;
}

.header__txt {
  font-weight: 250;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 48px;
  max-width: 770px;
  width: 100%;
}

.header__container {
  position: relative;
}

.header__social {
  position: absolute;
  right: 0;
  bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 30px;
}

.header__social::before {
  content: "";
  width: 1px;
  height: 140px;
  background: #C4C4C4;
}

.amount {
  position: relative;
}

.amount:before {
  content: "2";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #E13A3A;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 19px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.aside {
  background: #1D1D1D;
  width: 81px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 15;
  padding: 42px 19px;
}

.aside-btn {
  width: 43px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

.aside__line {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
}

.aside__line::after,
.aside__line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0;
  background: #fff;
}

.aside__line::after {
  top: 10px;
}

.aside__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  row-gap: 80px;
  width: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}

.aside__link span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.aside__link:hover {
  color: #fff;
}

.aside__link:hover svg {
  fill: #fff;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 64px;
  background: -o-linear-gradient(337.79deg, #1F1F1F 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
  -webkit-box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 20;
  max-width: 620px;
  width: 100%;
  overflow: hidden;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
}

.burger.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.burger__close {
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 48px;
  right: 56px;
}

.burger__close::after,
.burger__close::before {
  content: "";
  position: absolute;
  background: #C4C4C4;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger__list {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.burger__list:nth-of-type(1) {
  row-gap: 42px;
  position: relative;
}

.burger__list:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  background: rgba(196, 196, 196, 0.15);
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}

.burger__list:nth-of-type(2) {
  row-gap: 25px;
}

.burger__list:nth-of-type(2) .burger__link {
  color: rgba(255, 255, 255, 0.5);
}

.burger__link {
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Montserrat";
}

.models {
  background: url(./images/model.webp) right bottom/50% no-repeat, -o-linear-gradient(337.79deg, #161616 2.72%, #161616 101.59%);
  background: url(./images/model.webp) right bottom/50% no-repeat, linear-gradient(112.21deg, #161616 2.72%, #161616 101.59%);
  min-height: 100vh;
  padding-top: 139px;
}

.models__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #232323;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.models__title {
  font-size: 30px;
  line-height: 100%;
  font-family: Montserrat;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 37px;
  padding-right: 40px;
  padding-left: 40px;
}

.models__dest {
  max-width: 259px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.models__txt {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 250;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  border-left: 2px solid rgba(196, 196, 196, 0.05);
  border-bottom: 2px solid rgba(196, 196, 196, 0.05);
}

.models__btn {
  background: #292929;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 41px 0;
  text-align: center;
}

.models__image {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.models__carousel {
  position: relative;
}

.models__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: -4%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 13;
  row-gap: 25px;
}

.models__controls * {
  position: static;
}

.models__controls-next,
.models__controls-prev {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.4);
}

.models__controls .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 38px;
}

.models__controls .swiper-pagination-bullet {
  font-weight: 250;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.185em;
  color: #c4c4c4;
  width: unset;
  height: unset;
  background: transparent;
}

.models__content {
  max-width: 760px;
  width: 100%;
  margin-top: 66px;
}

.models__content-title {
  line-height: 70px;
  font-size: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.models__content-extra {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}

.models__content-txt {
  font-weight: 250;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.models__content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.models__content-btn {
  max-width: 360px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 1678px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1320px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}